<table border="1">
  <caption><%= @cat.name %></caption>
  <thead>
    <th>Age
    <th>Color
    <th>Sex
    <th>Description
  </thead>
  <tr>
    <td><%= @cat.age %>
    <td><%= @cat.color %>
    <td><%= @cat.sex %>
    <td><%= @cat.description %>
  </tr>
</table>
