<!DOCTYPE html>
<html>
<head>
  <title>NinetyNineCats</title>
</head>
<body>
<p>
<% if current_user %>
  <%= "Hello #{current_user.user_name}" %>
  <form action="<%= session_url %>" method="POST">
    <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="DELETE">
    <%= link_to "Rent a Cat!", new_cat_rental_request_url %>
      <button>Logout</button>
  </form>
<% else %>
  <a href="<%= new_session_url %>">Log In</a> or
  <%= link_to "Register", new_user_url %>
<% end %>

</p>

<%= yield %>

</body>
</html>
